# **PYTHON-AULA-01 feito por THAIANNA ;)**

# **1- COMENTÁRIOS NO CÓDIGO**

In [1]:
# Ao colocar "hashtag"/ "jogo da velha", ele vira apenas comentário e não irá afetar o código.
# Eu gosto de enfeitar bem com hashtag, colocando tanto no início, quanto no fim.
# EU utilizo os comentários pra organizar o código, explicar algo.


#### EXEMPLO ####

# **2- IMPRIMIR UM TEXTO**

In [ ]:
#### IMPRIMINDO UM TEXTO/ STRING ####
print ("Olá, Pipas!") #### print ("Texto que você quiser!")

# **3- CRIANDO UMA VARIÁVEL E IMPRIMINDO-A**

Variáveis são nomes que daremos a determinados valores.
Exemplo:
O meu nome é Lupita, então quero criar uma variável: nome = "Lupita"  # entre aspas porque é uma String. Iremos falar posteriormente sobre isso #

Em Python, as variáveis tem que iniciar por letras ou alguns caracteres especiais. Elas não podem ser iniciadas por números.

In [ ]:
dois = 2
print (dois)

In [ ]:
Dois = 2
print (Dois)

In [ ]:
_Dois = 2
print (_Dois)

In [ ]:
#### CRIANDO UMA VARIÁVEL E IMPRIMINDO-A ####
nome= "Lupita"
print (nome)

In [ ]:
#### CRIANDO UMA VARIÁVEL E IMPRIMINDO-A ####
minhaIdade= 5 #### variável minhaIdade, no valor de 5. No caso, tenho 5 anos de idade, teoricamente.
print (minhaIdade)

# **4- VALORES**

Valor é um texto ou um número dado a determinada variável.
Exemplo:
corFavorita (variável) = "verde" (valor da variável)

####     **4.1- TIPOS DE VALORES**

#### 4.1.1- INTEIROS
1
2
3
44
1000000000000

#### 4.1.2- FLOAT
1.20
3.14
555.4
7.77

#### 4.1.3- STRING
Strings são textos e devem ficar sempre entre aspas.

#### 4.1.4- BOOLEANO
Apenas definidos como "true" ou "false"

Exemplos:
 1 = 1  true
 1 > 2  false

# **5- IMPRIMINDO UM TEXTO JUNTO A UMA VARIÁVEL**

In [ ]:
#### IMPRIMINDO UM TEXTO JUNTAMENTE COM A MINHA VARIÁVEL ####
minhaIdade = 5
print (f"Eu tenho {minhaIdade} anos.") ### quando eu coloco a variável junto, tenho de colocá-la entre colchetes ####

# **6- OPERADORES MATEMÁTICOS**

### 6.1- ADIÇÃO

In [ ]:
5 + 2

In [2]:
# VARIÁVEIS #
minhaIdade = 5
idadeLupita = 2
soma= minhaIdade + idadeLupita

# IMPRIMINDO AS OPERAÇÕES MATEMÁTICAS ACIMA #
print ("ENSINAMENTO SOBRE SOMA: ") ## apenas enfeite
print (soma) # imprimi a variável soma que é a minhaIdade (5) mais a idadeLupita (2), que deu 7.##
print (f"A minha idade, que é {minhaIdade}, mais a idade da Lupita, que é {idadeLupita}, deu {soma}.\n") # ao colocarmos mais de uma variável junto com o texto, devemos por o f antes de começar o texto e as variáveis. O \n É PRA QUEBRA DE LINHA ##

ENSINAMENTO SOBRE SOMA:
7
A minha idade, que é 5, mais a idade da Lupita, que é 2, deu 7.

### 6.2- SUBTRAÇÃO

In [ ]:
5 - 2

In [ ]:
# VARIÁVEIS #
minhaIdade = 5
idadeLupita = 2
subtracao = minhaIdade - idadeLupita

# IMPRIMINDO A OPERAÇÃO MATEMÁTICA ACIMA #
print ("ENSINAMENTO SOBRE SUBTRAÇÃO:")
print (subtracao) # imprimi a variável subtracao que é a minhaIdade menos a idadeLupita, e deu 3.##
print (f"A minha idade, que é {minhaIdade}, menos a idade da Lupita, que é {idadeLupita}, deu {subtracao}.\n") ## fiz igual na impressão da linha 14, porém utilizei a variável subtracao. ##

### 6.3- MULTIPLICAÇÃO

In [ ]:
5*2

In [ ]:
# VARIÁVEIS #
minhaIdade = 5
idadeLupita = 2
multiplicacao = minhaIdade * idadeLupita

# IMPRIMINDO A OPERAÇÃO MATEMÁTICA ACIMA #
print ("ENSINAMENTO SOBRE MULTIPLICACAO:")
print (multiplicacao) ##
print (f"A minha idade, que é {minhaIdade}, multiplicada pela idade da Lupita, que é {idadeLupita}, deu {multiplicacao}.\n") ## idem linhas 14 e 16.##

### 6.4- DIVISÃO

In [ ]:
5/2

In [ ]:
# VARIÁVEIS #
minhaIdade = 5
idadeLupita = 2
divisao = minhaIdade / idadeLupita

# IMPRIMINDO A OPERAÇÃO MATEMÁTICA ACIMA #
print ("ENSINAMENTO SOBRE DIVISÃO:")
print (divisao)
print (f"A minha idade, que é {minhaIdade}, dividido pela idade da Lupita, que é {idadeLupita}, deu {divisao}.\n") ## idem linhas 14, 16 e 18. ##

### 6.5- POTÊNCIA

In [ ]:
5 ** 2

In [ ]:
5 ** 3

In [ ]:
# VARIÁVEIS #
minhaIdade = 5
idadeLupita = 2
potencia = minhaIdade ** idadeLupita

# IMPRIMINDO A OPERAÇÃO MATEMÁTICA ACIMA #
print ("ENSINAMENTO SOBRE POTÊNCIA:")
print (potencia) ## imprimi a variável potencia, que é a minhaIdade (5) elevada a idadeLupita (2), ficando 5². ##
print (f"A minha idade, que é {minhaIdade}, elevada a idade da Lupita, que é {idadeLupita}, deu {potencia}.\n") ## idem linhas 14,16,18 e 20 ##

### 6.6- MÓDULO

In [ ]:
5 % 2

In [ ]:
# VARIÁVEIS #
minhaIdade = 5
idadeLupita = 2
modulo = minhaIdade % idadeLupita

# IMPRIMINDO A OPERAÇÃO MATEMÁTICA ACIMA #
print ("ENSINAMENTO SOBRE MÓDULO:")
print (modulo) # imprimi o resto da divisão, que no caso, fica sem casas decimais. Ex: 2 para chegar a 5, multiplica por 2 e sobra 1. Esse 1 é o resultado.

# **7- OPERADORES COMPARATIVOS**

### 7.1- IGUALDADE
Onde os valores são iguais.

Exemplo:
1 = 1
777 = 777

In [ ]:
1  == 1

In [ ]:
777 == 777

In [ ]:
1 == 777

In [ ]:
print ( 1== 1)

In [ ]:
print ( 777 == 777)

### 7.2- DIFERENTE
Os valores são diferentes entre si.

Exemplo:
1 != 1
1 != 777

In [ ]:
1 != 1

In [ ]:
1 != 777

In [ ]:
print ( 1!= 1)

In [ ]:
print ( 1 != 777)

### 7.3- MAIOR QUE
Um valor é maior que o outro.

Exemplo:
2 > 1
777 > 55

In [ ]:
2 > 1

In [ ]:
42 > 777

In [ ]:
print ( 2> 1)

In [ ]:
print ( 42 > 777)

### 7.4- MENOR QUE
Um valor é menor do que o outro.

Exemplo:
1 < 7
13 < 24

In [ ]:
1 < 7

In [ ]:
13 < 10

In [ ]:
print (1 < 7)

In [ ]:
print (13 < 10)

### 7.5- MAIOR OU IGUAL QUE
Um valor é maior ou igual que o outro valor.

Exemplo:
7 >= 5
777 >= 777

In [ ]:
777 >= 777

In [ ]:
5 >= 7

In [ ]:
print (777 >= 777)

In [ ]:
print (5 >= 7)

### 7.6- MENOR OU IGUAL QUE
Quando um valor é menor ou igual ao outro valor.

Exemplo:
5 >= 2
88 >= 88

In [ ]:
88 >= 88

In [ ]:
88 >= 87

In [ ]:
88 >= 89

In [ ]:
print (88 >= 87)

In [ ]:
print (88 <= 89)

# **EXERCÍCIO PARA TREINAR**

**1- Crie uma variável chamada "nome" com o valor "Ana" e imprima ela.**

In [1]:
## SUA RESPOSTA AQUI ##

<----- APERTE CTRL+ENTER NA CÉLULA ABAIXO PARA VERIFICAR A CORREÇÃO ---->

In [2]:
# Correção 1
try:
    assert nome == "Ana"
    print("✅ A resposta está correta!")
except:
    print("❌ A variável nome está errada. Tente novamente!")

❌ A variável nome está errada. Tente novamente!

**2- Crie duas variáveis com números inteiros e imprima a soma delas.**