# **PYTHON-AULA-02 feito por THAIANNA ;)**

# **1- OPERADORES LÓGICOS**

São utilizados para juntar condições, sejam verdadeiras ou falsas, e tomar decisões.
Sempre retornarão um resultado **true** ou **false**.
Os três principais operadores lógicos em Python são: **and**, **or** e **not**.

### **1.1- AND**

Só será **true** se tudo for true.
O "AND" equivale ao "E", em português.

In [ ]:
from operator import truediv

#### EXEMPLO ####
x= 7
print (x > 1 and x < 8) # x maior que 1 e menor do que 8 = verdadeiro

In [ ]:
#### EXEMPLO ####
x= 7
print (x > 5 and x < 6) # x maior que 5 (true) e menor do que 6 (false), então será false #

In [ ]:
#### EXEMPLO ####
idade= 20
temCarteira = True

#### VERIFICA SE É MAIOR DE 18 E TEM CARTEIRA ####
print (idade >= 18 and temCarteira)

In [ ]:
#### EXEMPLO ####
idade= 20
temCarteira = False

#### VERIFICA SE É MAIOR DE 18 E TEM CARTEIRA ####
print (idade >= 18 and temCarteira)  # tem 18+ mas não tem carteira  então dá false #

### **1.2- OR**

Pelo menos, umas das condições tem que ser **true**.
"OR"equivale a "OU", em português.

In [ ]:
#### EXEMPLO ####
x= 7
print (x > 2 or x < 3) # x maior que 2 (true) e menor que 3 (false), então dá  true #

In [ ]:
#### EXEMPLO ####
x= 7
print (x < 2 or x < 3) # x menor que 2 (false) ou x maior que 3 (false), então dá false #

In [ ]:
### EXEMPLO ####
temFome= False
temSede= True

print (temFome or temSede)  #só será false se os dois forem false, então é true #

In [ ]:
### EXEMPLO ####
temFome= False
temSede= False

print (temFome or temSede)  #só será false se os dois forem false, então é false #

### **1.3- NOT**

Inverte o resultado lógico.
Se for **true**, vira **false**, e vice-versa.

In [ ]:
#### EXEMPLO ####
x= 7

print (not x > 2 ) # x maior que 2 dá true, mas ele inverteu e ficou false #

In [ ]:
#### EXEMPLO ####
x= 7

print (not x < 2) # x menor que 2 dá false, mas ele inverteu e ficou true #

In [ ]:
#### EXEMPLO ####
estaChovendo= True

print (not estaChovendo) # seria true, mas ele vai inverter e então será false #

In [ ]:
#### EXEMPLO ####
estaChovendo= False

print (not estaChovendo) # seria false, mas ele vai inverter e então será true #

# **2- OPERADORES DE IDENTIDADE**

Comparam os objetos.
Eles são: **is** e **is not**.
Resultam apenas **true** ou **false**.

### **2.1- IS**

Significa "é", basicamente.

In [ ]:
#### EXEMPLO ####
a= [1, 2, 3]
b= a

print (a is b) # falei que b é igual a todos os valores de a, então retornou true #

In [ ]:
#### EXEMPLO ####
a= [1, 2, 3]
b= 3

print (a is b) # falei que b é igual a 3, e que a é igual a b. false porque a é 1,2,3 #

### **2.2- IS NOT**

Significa "não é", basicamente.

In [1]:
#### EXEMPLO #####
a= [1, 2, 3]
b= 3

print (a is not b) # falei que b é igual a 3, e que a náo é igual a b. True porque a é 1,2,3 ####

True

In [ ]:
### **2.1- IS**
#### EXEMPLO ####
a = [1, 2, 3]
b = a

print(a is not b)  # falei que b não é igual a todos os valores de a, então retornou false #

# **3- OPERADORES DE ASSOCIAÇÃO**

Verifica se algo dentro da condição está igual.
Retorna apenas **true** ou **false**.

### **3.1- IN**

Significa "está em", basicamente.

In [ ]:
#### EXEMPLO ####
nome= "Lupita"

print ('a' in nome) # true porque possui a letra "a" na variável nome que é Lupita #

In [ ]:
#### EXEMPLO ####
x= [1, 5, 7]

print ('2'in x) # false porque 2 não possui na variável "x"#

### **3.2- NOT IN**

Significa "não está em", basicamente.

In [ ]:
#### EXEMPLO ####
x= [1, 5, 7]

print ('2' not in x) # true porque 2 não está na variável "x"#

In [ ]:
#### EXEMPLO ####
nome= "Lupita"

print ('a' not in nome) # false porque possui a letra "a" na variável nome que é Lupita #

# **EXERCÍCIOS**

#### **1- QUAL O RESULTADO DO CÓDIGO A SEGUIR?**

In [ ]:
#### 1-RESOLVA ####
#y= "banana"

#print ('a' in y)

In [ ]:
### ESCREVA A RESPOSTA ####

In [24]:
#### 1-GABARITO - EXECUTE O CODIGO DESSA CÉLULA ####
y= "banana"

print ('a' in y)

True

#### **2- QUAL O RESULTADO DO CÓDIGO A SEGUIR?**

In [ ]:
#### 2- RESOLVA ####
#w= [10, 30, 50]
#z= 20

#print (z is w)

In [23]:
#### ESCREVA A RESPOSTA ####

In [ ]:
#### GABARITO - EXECUTE ESSA CÉLULA ####
#w= [10, 30, 50]
#z= 20

#print (z is w)